<mat-toolbar color='primary'>
    <span>Novo contato</span>
</mat-toolbar>


<div class="formConteiner">
    <form [formGroup]="contactForm" (ngSubmit)="criaContato()" class="formContent">
        <mat-form-field appearance="standard">
            <mat-label>Nome</mat-label>
            <input autofocus matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Telefone</mat-label>
            <input prefix="+55 " mask="(00) 0000-0000 ||(00) 0 0000-0000" matInput formControlName="phone">
        </mat-form-field>

        <div class="actions">
            <a routerLink="/contacts" mat-raised-button>Cancela</a>
            <button type="submit" mat-raised-button color="primary" [disabled]="contactForm.invalid">Criar</button>
        </div>
    </form>
</div>
