<p>contact-update works!</p>
<mat-toolbar color='primary'>
    <span>Detathes do contato</span>
</mat-toolbar>


<div class="formConteiner">
    <mat-form-field appearance="standard">
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Telefone</mat-label>
        <input matInput>
    </mat-form-field>

    <div class="actions">
        <a routerLink="/contacts" mat-raised-button>Volta</a>
        <button type="submit" mat-raised-button color="primary">salvar</button>
    </div>
</div>