<mat-toolbar color='primary'>
    <span>Lista de contatos</span>
</mat-toolbar>

<mat-nav-list>
    <mat-list-item *ngFor='let list of contatos'>
        <a matLine [routerLink]="['/contacts', list.id]" class="black">{{list.name}}</a>
        <span>{{list.phone | celular}}</span>
        <button (click)='deletaContato(list)' mat-icon-button class="black">
        <mat-icon>delete</mat-icon>
     </button>
    </mat-list-item>
</mat-nav-list>

<a routerLink='/contacts/create' mat-fab color="primary" class="create">
    <mat-icon>add</mat-icon>
</a>
